@font-face {font-family: "logofont"; src: url("/font/loaded.woff") format("woff"); font-weight: normal; font-style: normal;}
@font-face { font-family: 'GmarketSansLight'; src: url('/font/GmarketSansTTFLight.woff') format('woff'); font-weight: normal; font-style: normal; }
nav {
    background: black;
}