@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900&display=swap&subset=korean');
@font-face { font-family: 'OTEnjoystoriesBA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    background: black;
}

#nav-menu {
    margin-left: 200px;
    margin-right: 200px;
    background: black;
    font-size: 15px;
}
.navbar-light .navbar-toggler {
    border: none;
}

.navbar-brand {
    font-family: "logofont";
    font-size: 25px;
}

header {
    background-color: black;
}
.page {
    height: 100vh;
    padding: 30px;
    background: #2e2e2e;
    text-align: center;
    color: white;
}
.title {
    font-family: 'logofont';
    font-size: 70px;
    margin-top: 200px;
}
.nav-item {
    margin-top: 8px;
}
@media screen and (max-width: 900px){
    #nav-menu {
        margin-left: 0px;
        margin-right: 0px;
    }
    .title {
        font-family: 'hemi-head';
        margin-top: 200px;
        font-size: 45px;
        font-weight: 900;
    }
}

.subtitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
  }
  body::-webkit-scrollbar-track {
    background-color: lightgray;
  }

.title2 {
    color: #2e2e2e;
    font-weight: 900;
}
.des2 {
    color: #2e2e2e;
}
.subpage {
    background: black;
    padding: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
footer {
    padding: 30px;
    background: #2e2e2e;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
footer a {
    color: white;
}
footer p {
    font-size: 15px;
}

div .carousel-item {
    height: 50vh;
}

div .carousel-item img {
    width: 100vw;
}

@media screen and (max-width: 750px){
    div .carousel-item {
        height: 30vh;
    }
    
    div .carousel-item img {
        height: 40vh;
    }
}

header {
    position: static;
}
div .r{
    width: 100vw;
    margin: 0 auto;
    text-align: center; /*inline-block의 장점은 폰트의 성질도 포함되고 있어서 text-align으로 정렬을 쉽게 할수가 있다.*/
    font-size: 0;
}

.hov-1 {
    padding: 10px;
    width: 40vw;
    height: 30vh;
    display: inline-block; /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
    vertical-align: top;
}
.hov-3 {
    padding: 10px;
    width: 55vw;
    height: 30vh;
    display: inline-block; /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
    vertical-align: top;
}

.urlshorter_bg {
    background-color: black;
}


.projects {
    text-align: center;
}

.projects h1 {
    margin-top: 10vh;
    color: white;
    font-size: 50px;
    font-family: 'GmarketSansLight';
}

.projects p {
    line-height: 1.3;
    color: white;
    font-family: 'GmarketSansLight';
    margin-bottom: 10vh;
}

.char_i {
    text-align: center;
}

.char_i h1 {
    margin-top: 35vh;
    color: white;
    font-size: 50px;
    font-family: 'GmarketSansLight';
}
.char_i {
    
}
.char_i p {
    line-height: 1.3;
    color: white;
    font-family: 'GmarketSansLight';
    margin-bottom: 10vh;
}

.img-frame {
    color: white;
    font-family: 'GmarketSansLight';
}
.img-frame img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
    background: white;
}
.char_i .img-frame img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
    background: white;
    margin-top: 100px;
}
.img-frame img:hover {
    border-radius: 30px;
}

#typing {
    color: white;
}

.opps_bg {
    background: black;
    text-align: center;
    font-family: "logofont";
    font-size: 150px;
    font-weight: bolder;
    margin-top: 30vh;
}

@media screen and (max-width: 1200px) and (min-width: 600px){
    .opps_bg {
        font-size: 35px;
    }
}

@media screen and (max-width: 599px){
    .opps_bg {
        font-size: 60px;
        margin-top: 35vh;
    }
}

.team_i {
    color: white;
    text-align: center;
    font-family: 'GmarketSansLight';
}
.team_i h1 {
    margin-top: 20vh;
    font-size: 50px;
}

.disc_i {
    color: white;
    margin-top: 20px;
}