@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900&display=swap&subset=korean');
@font-face { font-family: 'OTEnjoystoriesBA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff'); font-weight: normal; font-style: normal; }
#nav-menu {
    margin-left: 200px;
    margin-right: 200px;
}
.navbar-light .navbar-toggler {
    border: none;
}

.navbar-brand {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.page {
    height: 100vh;
    padding: 30px;
    background: #2e2e2e;
    text-align: center;
    color: white;
}
.title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 70px;
    margin-top: 200px;
}

@media screen and (max-width: 900px){
    #nav-menu {
        margin-left: 0px;
        margin-right: 0px;
    }
    .title {
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 200px;
        font-size: 45px;
        font-weight: 900;
    }
}

.subtitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
  }
  body::-webkit-scrollbar-track {
    background-color: lightgray;
  }

.title2 {
    color: #2e2e2e;
    font-weight: 900;
}
.des2 {
    color: #2e2e2e;
}
.subpage {
    background: white;
    padding: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
footer {
    padding: 30px;
    background: #2e2e2e;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
footer a {
    color: white;
}
footer p {
    font-size: 15px;
}

div .carousel-item {
    width: auto;
}

div .carousel-item img {
    width: 100vw;
}

header {
    position: static;
}

@media screen and (min-width: 1000px){
    div .carousel-item {
        height: 70vh;
    }
    
    div .carousel-item img {
        width: 100vw;
        height: auto;
    }
    
}