/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   /* html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent} */
   body{padding-top: 0px; line-height:1; position:fixed;overflow:hidden;height:100%; }
   /* */
   nav{color: white;}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
      #nav-menu {
          margin-left: 200px;
          margin-right: 200px;
          font-size: 15px;
          margin-top: 10px;
      }
      .navbar-light .navbar-toggler {
          border: none;
      }
      
      .navbar-brand {
          font-family: 'logofont';
          font-size: 25px;
          margin-top: -9px;
      }
      nav {
          padding-top: 0px;
      }
      header {
          background-color: white;
      }
      .page {
          height: 100vh;
          padding: 30px;
          background: #2e2e2e;
          text-align: center;
          color: white;
      }
      
      @media screen and (max-width: 900px){
          #nav-menu {
              margin-left: 0px;
              margin-right: 0px;
          }
          .title {
              /* font-family: 'hemi-head'; */
              margin-top: 200px;
              font-size: 45px;
              font-weight: 900;
          }
      }
      
      .subtitle {
          /* font-family: 'Noto Sans KR', sans-serif; */
          font-size: 25px;
      }
      
      body::-webkit-scrollbar {
          width: 10px;
        }
        body::-webkit-scrollbar-thumb {
          background-color: gray;
          border-radius: 50px;
        }
        body::-webkit-scrollbar-track {
          background-color: lightgray;
        }
      
      .title2 {
          color: #2e2e2e;
          font-weight: 900;
      }
      .des2 {
          color: #2e2e2e;
      }
      .subpage {
          background: white;
          padding: 40px;
      }
      footer {
          padding: 30px;
          background: #2e2e2e;
          color: white;
      }
      footer a {
          color: white;
      }
      footer p {
          font-size: 15px;
      }
      
      div .carousel-item {
          height: 50vh;
      }
      
      div .carousel-item img {
          width: 100vw;
      }
      
      @media screen and (max-width: 750px){
          div .carousel-item {
              height: 30vh;
          }
          
          div .carousel-item img {
              height: 40vh;
          }
      }
      
      header {
          position: static;
      }
      div .r{
          width: 100vw;
          margin: 0 auto;
          text-align: center; /*inline-block의 장점은 폰트의 성질도 포함되고 있어서 text-align으로 정렬을 쉽게 할수가 있다.*/
          font-size: 0;
      }
      
      .hov-1 {
          padding: 10px;
          width: 40vw;
          height: 30vh;
          display: inline-block; /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
          vertical-align: top;
      }
      .hov-3 {
          padding: 10px;
          width: 55vw;
          height: 30vh;
          display: inline-block; /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
          vertical-align: top;
      }
      
      .urlshorter_bg {
          background-color: black;
      }
   /* ---- base ---- */
   
   html,body{ 
       width:100%;
       height:100%;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
   }
   
   canvas{
     display:block;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: black;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     text-align: center;
     padding-top: px;
   }


   #disc1 {
    position: absolute;
    z-index: 1;
    height: 50vh;
    font-size: 15px;
    line-height: 5px;
    color: gray;
    padding-left: 50px;
    margin-top: -15vh;
   }

   @media screen and (max-width: 500px){
       #disc1 {
        margin-top: -150px;
       }
   }

   #titled {
       font-size: 50px;
       color: white;
       padding-top: 30vh;
       font-family: 'GmarketSansLight',Arial, Helvetica, sans-serif;
   }

   a {
       text-decoration: none;
   }
   a:visited {
       color: gray;
       text-decoration: none;
   }
   a:link {
       color: gray;
       text-decoration: none;
   }
   a:hover {
       color: white;
       text-decoration: none;
   }