/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   /* html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent} */
   body{line-height:1; position:fixed;overflow:hidden;height:100%; }
   /* */
   
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#fff;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #fff;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   nav{color: white;}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
      @font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff%27') format('woff'); font-weight: normal; font-style: normal; }
      #nav-menu {
          margin-left: 200px;
          margin-right: 200px;
      }
      .navbar-light .navbar-toggler {
          border: none;
      }
      
      .navbar-brand {
          /* font-family: 'HemiHeadW00-Regular'; */
          font-weight: 900;
          font-size: 25px;
      }
      
      header {
          background-color: white;
      }
      .page {
          height: 100vh;
          padding: 30px;
          background: #2e2e2e;
          text-align: center;
          color: white;
      }
      
      @media screen and (max-width: 900px){
          #nav-menu {
              margin-left: 0px;
              margin-right: 0px;
          }
          .title {
              /* font-family: 'hemi-head'; */
              margin-top: 200px;
              font-size: 45px;
              font-weight: 900;
          }
      }
      
      .subtitle {
          /* font-family: 'Noto Sans KR', sans-serif; */
          font-size: 25px;
      }
      
      body::-webkit-scrollbar {
          width: 10px;
        }
        body::-webkit-scrollbar-thumb {
          background-color: gray;
          border-radius: 50px;
        }
        body::-webkit-scrollbar-track {
          background-color: lightgray;
        }
      
      .title2 {
          color: #2e2e2e;
          font-weight: 900;
      }
      .des2 {
          color: #2e2e2e;
      }
      .subpage {
          background: white;
          padding: 40px;
      }
      footer {
          padding: 30px;
          background: #2e2e2e;
          color: white;
      }
      footer a {
          color: white;
      }
      footer p {
          font-size: 15px;
      }
      
      div .carousel-item {
          height: 50vh;
      }
      
      div .carousel-item img {
          width: 100vw;
      }
      
      @media screen and (max-width: 750px){
          div .carousel-item {
              height: 30vh;
          }
          
          div .carousel-item img {
              height: 40vh;
          }
      }
      
      header {
          position: static;
      }
      div .r{
          width: 100vw;
          margin: 0 auto;
          text-align: center; /*inline-block의 장점은 폰트의 성질도 포함되고 있어서 text-align으로 정렬을 쉽게 할수가 있다.*/
          font-size: 0;
      }
      
      .hov-1 {
          padding: 10px;
          width: 40vw;
          height: 30vh;
          display: inline-block; /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
          vertical-align: top;
      }
      .hov-3 {
          padding: 10px;
          width: 55vw;
          height: 30vh;
          display: inline-block; /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
          vertical-align: top;
      }
      
      .urlshorter_bg {
          background-color: black;
      }
   /* ---- base ---- */
   
   html,body{ 
       width:100%;
       height:100%;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
   }
   
   canvas{
     display:block;
     vertical-align:bottom;
   }
   
   
   /* ---- stats.js ---- */
   
   .count-particles{
     position: absolute;
     z-index: 2;
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }
   
   .js-count-particles{
     font-size: 1.1em;
   }
   
   #stats,
   .count-particles{
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }
   
   #stats{
     border-radius: 3px 3px 0 0;
     overflow: hidden;
   }
   
   .count-particles{
     border-radius: 0 0 3px 3px;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: black;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     text-align: center;
   }


   #disc1 {
    position: absolute;
    z-index: 1;
    height: 50vh;
    font-size: 15px;
    line-height: 5px;
    background: black;
    color: gray;
    padding-left: 50px;
    margin-top: -12vh;
   }

   #titled {
       font-size: 50px;
       color: white;
       padding-top: 30vh;
       font-family: 'GmarketSansLight',Arial, Helvetica, sans-serif;
   }

   a {
       text-decoration: none;
   }
   a:visited {
       color: gray;
       text-decoration: none;
   }
   a:link {
       color: gray;
       text-decoration: none;
   }
   a:hover {
       color: white;
       text-decoration: none;
   }